.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20em;
  padding: 2em 1.5em 0;
  background-color: #fff;
}

.menus {
  margin-bottom: 1em;
}

.dashboard-menu, .coins-menu, .history-menu {
  display: block;
  padding: 1.5em 0 1.5em 70px;
  opacity: .7;
  font-size: 1.3em;
}

.dashboard-menu:hover,
.coins-menu:hover,
.history-menu:hover {
  opacity: 1;
  color: #000;
}

.active.dashboard-menu,
.active.coins-menu,
.active.history-menu {
  opacity: 1;
  font-weight: 600;
  color: #000;
}

.dashboard-menu {
  background: #fff url('../../../images/dashboard-icon.svg') no-repeat 5px;
}

.coins-menu {
  background: #fff url('../../../images/coins-icon.svg') no-repeat 5px;
}

.history-menu {
  background: #fff url('../../../images/history-icon.svg') no-repeat 5px;
}
