@value colors: "../../../styles/colors.css";
@value darkGray from colors;

.bottom-label {
  position: relative;
  top: .4em;
  float: left;
  font-size: .9em;
  color: darkGray;
}

.content {
  padding: .3em .5em 0;
}

.you-vs-cohort {
  width: 100%;
  height: 175px;
}
